<!-- <app-breadcrumbs title="Add Retailer" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->
<div class="auth-page-wrapper pt-5">
    <div class="auth-page-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="card shadow-lg">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="p-5">
                                        <div class="row gy-3 mt-1 mb-4">
                                            <div class="col-md-12">
                                                <p class="fs-18 text-center fw-bold mb-4">
                                                    Retailer Onboarding Application Form
                                                </p>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center align-items-center mb-2 gap-2 gap-md-5 px-3" *ngIf="retailerCurrentStep == 1 && role == 'retailer'">
                                            <label class="form-label">Register As</label>
                                            <div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" id="retailer" value="retailer" name="role" [(ngModel)]="role" />
                                                    <label class="form-check-label" for="retailer">Corporate</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!--------------------------------- retailer form----------------------------------------->
                                        <form [formGroup]="retailerForm"
                                            *ngIf="retailerCurrentStep == 1 && role == 'retailer'">
                                            <div class="row gy-3 px-3">
                                                <div class="col-md-6">
                                                    <label for="pan_no">Pan No <span
                                                            class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input type="text" id="pan_no" formControlName="pan"
                                                            class="form-control rounded-5 rounded-end text-uppercase"
                                                            placeholder="Pan No" maxlength="10" />
                                                        <button class="btn btn-primary rounded-5 rounded-start"
                                                            (click)="verifyPan(panContent)" title="Verify Pan No"
                                                            [disabled]="ff['pan'].errors" *ngIf="!panVerified">
                                                            Verify
                                                        </button>
                                                        <span
                                                            class="input-group-text bg-success rounded-5 rounded-start"
                                                            title="Verified" *ngIf="panVerified">
                                                            <i class="ri-check-line text-white fw-semibold"></i>
                                                        </span>
                                                    </div>
                                                    <div *ngIf="isRetailerSubmit && ff['pan'].errors"
                                                        class="text-danger">
                                                        <div *ngIf="ff['pan'].errors['required']">
                                                            Pan no is required
                                                        </div>
                                                        <div *ngIf="ff['pan'].errors['pattern']">
                                                            Invalid Pan No
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="aadhaar_no">Aadhaar Card No
                                                        <span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input type="text" id="aadhaar_no" formControlName="aadhaar"
                                                            class="form-control rounded-5 rounded-end" appNumberOnly
                                                            placeholder="Aadhaar Card No" maxlength="12" />
                                                        <button class="btn btn-primary rounded-5 rounded-start"
                                                            *ngIf="!aadhaarVerified"
                                                            (click)="verifyAadhaar(aadhaarContent)"
                                                            title="Verify Aadhaar No" [disabled]="ff['aadhaar'].errors">
                                                            Verify
                                                        </button>
                                                        <span
                                                            class="input-group-text bg-success rounded-5 rounded-start"
                                                            title="Verified" *ngIf="aadhaarVerified">
                                                            <i class="ri-check-line text-white fw-semibold"></i>
                                                        </span>
                                                    </div>
                                                    <div *ngIf="isRetailerSubmit && ff['aadhaar'].errors"
                                                        class="text-danger">
                                                        <div *ngIf="ff['aadhaar'].errors['required']">
                                                            Aadhaar no is required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="email">Email <span class="text-danger">*</span></label>
                                                    <input type="text" id="email" class="form-control rounded-pill"
                                                        placeholder="Email Address" formControlName="email" />
                                                    <div *ngIf="isRetailerSubmit && ff['email'].errors"
                                                        class="text-danger">
                                                        <div *ngIf="ff['email'].errors['required']">
                                                            Email Address is required
                                                        </div>
                                                        <div *ngIf="ff['email'].errors['email']">
                                                            Invalid Email Address
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="mobile_no">Mobile No <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" id="mobile_no" class="form-control rounded-pill"
                                                        placeholder="Mobile No" formControlName="mobile" maxlength="10"
                                                        appNumberOnly />
                                                    <div *ngIf="isRetailerSubmit && ff['mobile'].errors"
                                                        class="text-danger">
                                                        <div *ngIf="ff['mobile'].errors['required']">
                                                            Mobile no is required
                                                        </div>
                                                        <div *ngIf="ff['mobile'].errors['pattern']">
                                                            Invalid Mobile No
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="text-end">
                                                        <button class="btn btn-primary btn-rounded" [disabled]="
                                !aadhaarVerified ||
                                !panVerified ||
                                !retailerForm.valid
                              " (click)="onStepOne()">
                                                            Next
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <!-----------------------------------retailer table---------------------------------------->
                                        <ngx-simplebar class="table-responsive mb-2" *ngIf="retailerCurrentStep == 2">
                                            <h4>Please Verify Your Details</h4>
                                            <table
                                                class="table table-bordered table-striped table-hover text-nowrap mt-4">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="6">
                                                            <span class="fw-bold">Applicant Name : </span>
                                                            <span>{{
                                                                aadhaarCardData.data.name | titlecase
                                                                }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <span class="fw-bold">Father Name : </span>
                                                            <span>{{
                                                                aadhaarCardData.data.care_of | titlecase
                                                                }}</span>
                                                        </td>
                                                        <td colspan="3">
                                                            <span class="fw-bold">Mobile No : </span>
                                                            <span>{{ ff["mobile"].value }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <span class="fw-bold">Pan No : </span>
                                                            <span class="text-uppercase">{{
                                                                ff["pan"].value
                                                                }}</span>
                                                        </td>
                                                        <td colspan="3">
                                                            <span class="fw-bold">Aadhaar No : </span>
                                                            <span>{{ ff["aadhaar"].value }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <span class="fw-bold">Email : </span>
                                                            <span>{{ ff["email"].value }}</span>
                                                        </td>
                                                        <td colspan="3">
                                                            <span class="fw-bold">DOB : </span>
                                                            <span>{{ aadhaarCardData.data.dob }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <span class="fw-bold">Gender : </span>
                                                            <span *ngIf="aadhaarCardData.data.gender == 'M'">Male</span>
                                                            <span
                                                                *ngIf="aadhaarCardData.data.gender == 'F'">Female</span>
                                                        </td>
                                                        <td colspan="3">
                                                            <span class="fw-bold">State : </span>
                                                            <span>{{
                                                                aadhaarCardData.data.split_address.state
                                                                | titlecase
                                                                }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <span class="fw-bold">District : </span>
                                                            <span>{{
                                                                aadhaarCardData.data.split_address.dist
                                                                | titlecase
                                                                }}</span>
                                                        </td>
                                                        <td colspan="3">
                                                            <span class="fw-bold">City : </span>

                                                            <span>{{
                                                                aadhaarCardData.data.split_address?.subdist
                                                                }}
                                                                {{
                                                                aadhaarCardData.data.split_address?.vtc
                                                                }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <span class="fw-bold">Pincode : </span>
                                                            <span>{{
                                                                aadhaarCardData.data.split_address.pincode
                                                                }}</span>
                                                        </td>
                                                        <td colspan="3">
                                                            <span class="fw-bold">Address : </span>
                                                            <span>{{
                                                                aadhaarCardData.data.address | titlecase
                                                                }}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ngx-simplebar>
                                        <div class="row my-3 gy-3" *ngIf="retailerCurrentStep == 2">
                                            <div class="col-md-12" *ngIf="needRetailerMobileOtp">
                                                <label for="mobile_otp">OTP <span class="text-danger">*</span></label>
                                                <input type="text" id="mobile_otp" class="form-control rounded-pill"
                                                    placeholder="Enter OTP" name="mobile_otp" maxlength="6"
                                                    appNumberOnly [(ngModel)]="retailer_mobile_otp" />
                                            </div>
                                            <div class="col-md-12" *ngIf="needRetailerMobileOtp">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span class="alert alert-success rounded-pill">{{
                                                        otp_msg | titlecase
                                                        }}</span>
                                                    <div>
                                                        <a *ngIf="!resendRetailerMobileOTP" (click)="resendMobileOtp()"
                                                            class="text-secondary cursor-pointer">Resend OTP</a>
                                                        <countdown *ngIf="resendRetailerMobileOTP" #cd [config]="config"
                                                            (event)="handleEvent($event)"></countdown>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input" type="checkbox" name="terms"
                                                        id="terms" [(ngModel)]="retailer_terms"
                                                        [disabled]="needRetailerMobileOtp" />
                                                    <label class="form-check-label fw-medium" for="terms">
                                                        I Accept Rucards [<a
                                                            href="https://rucards.in/terms-and-conditions.php"
                                                            target="_blank"
                                                            title="View terms and Conditions">T&amp;C</a>] [
                                                        <a href="https://rucards.in/privacy-policy.php" target="_blank"
                                                            title="View Privacy Policy">Privacy Policy </a>]
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-center text-md-end">
                                                    <button class="btn btn-info btn-rounded me-3" (click)="goBack()">
                                                        Back
                                                    </button>
                                                    <button class="btn btn-primary btn-rounded"
                                                        [disabled]="!retailer_terms" *ngIf="!needRetailerMobileOtp"
                                                        (click)="confirmTerm()">
                                                        Submit
                                                    </button>
                                                    <button class="btn btn-primary btn-rounded"
                                                        *ngIf="needRetailerMobileOtp"
                                                        [disabled]="retailer_mobile_otp == ''"
                                                        (click)="registerRetailer()">
                                                        Register
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- -----------------Retailer Success Message ---------------  --->
                                        <div class="row my-3 gy-3" *ngIf="retailerCurrentStep == 3">
                                            <div class="text-center">
                                                <div class="registration-congrats my-3">
                                                    <img src="assets/images/success.gif" alt="success" class="img-fluid"
                                                        style="width: 128px; height: 128px" />
                                                    <h1>Congratulations!</h1>
                                                    <h5 class="text-success">Registration successful.</h5>
                                                </div>
                                                <p class="text-muted fs-16 mb-3">
                                                    Thank you for registering! Your account has been
                                                    successfully created.
                                                </p>
                                                <div class="d-flex justify-content-center align-items-center gap-3">
                                                    <a class="btn btn-primary fs-16" routerLink="/login"
                                                        title="Customer Login">Login</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0 text-muted">
                                &copy; {{ year }} All Rights Reserved By
                                <a href="javascript:void(0)" style="font-weight: bolder; border: none">Crescent Business
                                    Solutions Pvt Ltd.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <ng-template #panContent let-offcanvas>
        <div class="offcanvas-header pb-0">
            <p class="fw-semibold fs-18 mb-0">Pan Verification</p>
            <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
        </div>
        <hr class="mb-0" />
        <div class="offcanvas-body">
            <div class="text-center">
                <i class="ri-checkbox-circle-fill display-4 text-success" *ngIf="panCardData.valid"></i>
                <i class="ri-close-circle-fill display-4 text-danger" *ngIf="!panCardData.valid"></i>
                <h4 *ngIf="panCardData.valid">Pan Valid</h4>
                <h4 *ngIf="!panCardData.valid">Pan Invalid</h4>
            </div>
            <div class="card card-animate rounded-4 mt-3">
                <div class="card-body">
                    <div class="table-responsive mb-2">
                        <table class="table text-nowrap mt-4">
                            <tbody>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">Pan No : </span>
                                        <span>{{ panCardData.pan_no }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">Name : </span>
                                        <span>{{ panCardData.name | titlecase }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">Aadhaar Seeding : </span>
                                        <span class="badge rounded-pill text-bg-success"
                                            *ngIf="panCardData.aadhaar_seeding == 'Y'">Yes</span>
                                        <span class="badge rounded-pill text-bg-danger"
                                            *ngIf="panCardData.aadhaar_seeding == 'N'">No</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">Category : </span>
                                        <span>{{ panCardData.category }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-rounded btn-primary" aria-label="Close" (click)="offcanvas.dismiss()">
                    Continue
                </button>
            </div>
        </div>
    </ng-template>
    <ng-template #aadhaarContent let-offcanvas>
        <div class="offcanvas-header pb-0">
            <p class="fw-semibold fs-18 mb-0">Aadhaar Verification</p>
            <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
        </div>
        <hr class="mb-0" />
        <div class="offcanvas-body" *ngIf="!aadhaarExists">
            <div class="mb-3">
                <label for="aadhaar_otp" class="form-label">OTP <span class="text-danger">*</span></label>
                <input type="text" class="form-control rounded-pill fw-semibold" id="aadhaar_otp" name="aadhaar_otp"
                    [(ngModel)]="otp" maxlength="6" placeholder="Enter Aadhaar OTP" appNumberOnly />
            </div>

            <div class="d-flex justify-content-end">
                <a *ngIf="!resendAadharOtp" class="text-secondary cursor-pointer" (click)="resendAadhaarOtp()">
                    Resend OTP</a>
                <countdown *ngIf="resendAadharOtp" [config]="config" (event)="handleEvent($event)"></countdown>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary btn-rounded" [disabled]="otp == ''" (click)="verifyAadhaarOtp()">
                    Verify
                </button>
            </div>
        </div>
        <div class="offcanvas-body" *ngIf="aadhaarExists">
            <div class="text-center">
                <i class="ri-checkbox-circle-fill display-4 text-success"
                    *ngIf="aadhaarCardData.data.status == 'VALID'"></i>
                <i class="ri-close-circle-fill display-4 text-danger"
                    *ngIf="aadhaarCardData.data.status == 'INVALID'"></i>
                <h4 *ngIf="aadhaarCardData.data.status == 'VALID'">Aadhaar Valid</h4>
                <h4 *ngIf="aadhaarCardData.data.status == 'INVALID'">
                    Aadhaar Invalid
                </h4>
            </div>
            <div class="card card-animate rounded-4 mt-3">
                <div class="card-body">
                    <div class="table-responsive mb-2">
                        <table class="table text-nowrap mt-4">
                            <tbody>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">Aadhaar No : </span>
                                        <span>{{ ff["aadhaar"].value }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">Name : </span>
                                        <span>{{ aadhaarCardData.data.name | titlecase }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">Father Name : </span>
                                        <span>{{ aadhaarCardData.data.care_of | titlecase }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">DOB : </span>
                                        <span>{{ aadhaarCardData.data.dob }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">Gender : </span>
                                        <span *ngIf="aadhaarCardData.data.gender == 'M'">Male</span>
                                        <span *ngIf="aadhaarCardData.data.gender == 'F'">Female</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">City : </span>
                                        <span>{{ aadhaarCardData.data.split_address.subdist }}
                                            {{ aadhaarCardData.data.split_address?.vtc }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <span class="fw-bold">State : </span>
                                        <span>{{ aadhaarCardData.data.split_address.state }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-rounded btn-primary" aria-label="Close" (click)="offcanvas.dismiss()">
                    Continue
                </button>
            </div>
        </div>
    </ng-template>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>