<app-breadcrumbs title="Manage API Partner" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>


<div class="card rounded-4">
    <div class="card-header">
        <div class="row align-items-center g-3">
            <div class="col-md-3">
                <p class="fs-16 fw-medium">API Partner</p>
            </div>
            <div class="col-md-auto ms-auto">
                <div class="d-flex gap-2">
                    <div class="search-box">
                        <input type="text" class="form-control rounded-pill" placeholder="Search..." #search
                               (keyup)="onSearch(search.value)">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                    <button class="btn btn-primary btn-rounded" (click)="openPartnerModal(partnerModal)">
                        Add Partner
                    </button>
                    <button class="btn btn-success btn-rounded" (click)="export_to_excel()">
                        Export
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ngx-simplebar>
            <div class="table-responsive">
                <table class="table align-middle table-nowrap" id="customerTable">
                    <thead>
                    <tr>
                        <th>SR</th>
                        <th (click)="sort('name')" class="cursor-pointer">
                            Name
                            <i class='bx bxs-sort-alt fs-12'></i>
                        </th>
                        <th>Email</th>
                        <th>Contact Number</th>
                        <th>Description</th>
                        <th>Active</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="cursor-pointer card-animate"
                        *ngFor="let partner of partners | slice: (page-1) * pageSize : page * pageSize; let i = index;">
                        <td>{{ (page - 1) * pageSize + i + 1 }}</td>
                        <td>{{ partner.name | uppercase }}</td>
                        <td>{{ partner.email | uppercase }}</td>
                        <td>{{ partner.contact_number }}</td>
                        <td>{{ partner.description }}</td>
                        <td>
                            @if (partner.active) {
                                <span class="badge bg-success rounded-pill">Active</span>
                            } @else {
                                <span class="badge bg-danger rounded-pill">In-active</span>                            }

                        </td>
                        <td>{{ partner.created_at | date: 'dd MMM yyyy' }}</td>
                        <td>{{ partner.updated_at ?? partner.created_at | date: 'dd MMM yyyy' }}</td>
                        <td>
                            <button class="btn bg-info btn-sm me-2 btn-rounded" title="Edit"
                                    (click)="openEditpartnerModal(partnerModal, partner)">
                                <i class="ri-edit-line align-middle text-white"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </ngx-simplebar>

        <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col col-sm-6">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                    Showing {{ (page - 1) * pageSize + 1 }} to {{ getMax() }} of {{ total }} entries
                </div>
            </div>

            <div class="col col-sm-6">
                <div class="text-sm-right float-sm-end listjs-pagination">
                    <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" [maxSize]="2">
                    </ngb-pagination>
                </div>
            </div>
        </div>

    </div>
</div>


<ng-template #partnerModal role="document" let-modal>
    <div class="modal-content">
        <div class="modal-header p-3">
            <p class="fs-18 fw-medium">{{ title }} Master</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
                    (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="partnerForm">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="name" class="form-label">Name</label>
                        <input id="name" class="form-control rounded-pill" placeholder="Enter Name"
                               formControlName="name">
                        <div *ngIf="isPartnerSubmit && pf['name'].errors" class="text-danger mt-1">
                            <div *ngIf="pf['name'].errors['required']">Name is required</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" class="form-control rounded-pill" placeholder="Enter Email"
                               formControlName="email">
                        <div *ngIf="isPartnerSubmit && pf['email'].errors" class="text-danger mt-1">
                            <div *ngIf="pf['email'].errors['required']">Email is required</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="contact_number" class="form-label">Contact Number</label>
                        <input id="contact_number" class="form-control rounded-pill" placeholder="Enter Contact Number"
                               formControlName="contact_number">
                        <div *ngIf="isPartnerSubmit && pf['contact_number'].errors" class="text-danger mt-1">
                            <div *ngIf="pf['contact_number'].errors['required']">Contact Number is required</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">Description</label>
                        <input id="description" class="form-control rounded-pill" placeholder="Enter Description"
                               formControlName="description">
                        <div *ngIf="isPartnerSubmit && pf['description'].errors" class="text-danger mt-1">
                            <div *ngIf="pf['description'].errors['required']">Name is required</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light btn-rounded" data-bs-dismiss="modal"
                                    (click)="modal.close('Close click')">Close
                            </button>
                            <button type="submit" class="btn btn-primary btn-rounded" (click)="onSubmit();">Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>


