<app-breadcrumbs title="Retailer Fund Request" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>


<div class="card rounded-4 p-3">
    <div class="card-header border-0">
        <div class="row g-3">
            <div class="col-md-6">
                <h4 class="fw-medium">Retailer Fund Request</h4>
            </div>
            <div class="col-md-6">
                <div class="float-end">
                    <a routerLink="/retailer/manage-customers/create"
                       class="btn btn-rounded btn-success" style="margin-left: 10px;">
                       Export</a>
                </div>
            </div> 
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="search-box w-100">
                        <input class="form-control rounded-pill search bg-light border-light"
                               placeholder="Search Retailer Details By Name, Address, DOB, PAN and more..."

                        >
                        <i class="ri-search-line search-icon"></i>
                    </div>
                    <button type="button" class="btn btn-primary  btn-rounded me-2 mb-2">Search</button>
                    <button type="button" class="btn btn-primary  btn-rounded me-2 mb-2">Filters
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center gap-2">
                    <div class="d-flex align-items-center justify-content-center">
                        <label for="page" class="me-2">Show</label>
                        <select name="page" id="page" class="form-select rounded-4 bg-light px-4 py-1">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        <label for="page" class="ms-2">entries</label>
                      </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-middle table-nowrap">
                <thead>
                <tr>
                    <th>Sr</th>
                    <th class="cursor-pointer">Retailer Name</th>
                    <th>Email <i class='bx fs-12'></i></th>
                    <th>Mobile <i class='bx  fs-12'></i></th>
                    <th>Status <i class='bx  fs-12'></i></th>
                    <th>Created on <i class='bx  fs-12'></i></th>
                    <th>Action <i class='bx  fs-12'></i></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Vaibhav Wagh</td>
                    <td>vaibhavwaghgmail</td>
                    <td>9004569291</td>
                    <td>Active</td>
                    <td>22/06/2024</td>
                    <td></td>
                </tr>
                </thead>
         <tbody style="min-height: 300px;">
                          
                </tbody>
            </table>
        </div>
    </div>
</div>
