@import 'node_modules/ngx-ui-switch/ui-switch.component.scss';
.card-no {
  position: relative;
  top: -170px;
  left: calc(100% / 2 - 100px);
  color: white;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

