@import 'node_modules/ngx-ui-switch/ui-switch.component.scss';
.card-no {
  position: relative;
  top: -170px;
  left: calc(100% / 2 - 100px);
  color: white;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.services {
  transition: all 0.3s ease-out;
}

.services:hover {
  background: rgb(180, 188, 234);
  transform: scale(1.1);
  box-shadow: 0 1rem 3rem rgb(206, 218, 246);
}
