<app-breadcrumbs title="GPR Card Transaction" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="card rounded-4">
    <div class="card-header">
        <div class="row align-items-center g-3">
            <div class="col-md-3">
                <h4 class="fs-16 fw-medium">Escrow ledger passbook </h4>
            </div>
            <div class="col-md-auto ms-auto">
                <div class="d-flex gap-2">
                    <div class="search-box">
                        <input type="text" class="form-control rounded-pill" placeholder="Search...">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive table-card">
            <table class="table align-middle table-nowrap" id="customerTable" style="min-height: 600px">
                <thead>
                <tr>
                    <th>Trans ID</th>
                    <th>Ref No</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Opening</th>
                    <th>Amount</th>
                    <th>Closing</th>
                    <th>Program</th>
                    <th>Remark</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


    </div>
</div>


