<app-breadcrumbs title="Edit Customer" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="card rounded-4 card-animate p-3">
    <div class="card-body">
        <h4 class="fs-18 fw-semibold">Edit Customer
            <a routerLink="/retailer/manage-customers" class="btn btn-primary float-end btn-rounded mt-0">View
                Customers
                List</a>
        </h4>
        <p class="text-muted">Enter Required information to Edit Customer Details.</p>

        <form>
            <div class="row p-3 rounded-4 bg-soft-info mb-3">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="pan">Pan Card No</label>
                        <input type="text" name="pan" id="pan" class="form-control rounded-4 fw-bold text-uppercase"
                               placeholder="Enter Customer Pan No" formControlName="pan" maxlength="10">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="aadhaar_no">Aadhaar Card No</label>
                        <input type="text" name="aadhaar_no" id="aadhaar_no" class="form-control rounded-4 fw-bold"
                               placeholder="Enter Aadhaar No" formControlName="aadhaar_no" appNumberOnly
                               maxlength="12">

                    </div>
                </div>
            </div>
            <div class="row p-3 bg-light rounded-4">
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="name">Applicant Name <span class="text-danger mx-2">*</span></label>
                        <input type="text" name="name" id="name"
                               class="form-control rounded-4 fw-bold text-uppercase" placeholder="Customer Name"
                               formControlName="name" maxlength="80" appAlphabeticInput>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="father_name">Father Name<span class="text-danger mx-2">*</span></label>
                        <input type="text" name="father_name" id="father_name" formControlName="father_name"
                               class="form-control rounded-4 fw-bold text-uppercase" placeholder="Father Name"
                               maxlength="80"
                               appAlphabeticInput>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="mobile_no">Mobile No <span class="text-danger mx-2">*</span></label>
                        <input type="text" name="mobile_no" id="mobile_no"
                               class="form-control rounded-4 fw-bold text-uppercase" placeholder="Mobile No"
                               inputmode="numeric"
                               formControlName="mobile_no" maxlength="10" appNumberOnly>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="email">Email <span class="text-danger mx-2">*</span></label>
                        <input type="email" name="email" id="email" placeholder="Email Address"
                               class="form-control rounded-4 fw-bold text-lowercase" formControlName="email">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="gender">Gender <span class="text-danger mx-2">*</span></label>
                        <select name="gender" id="gender" class="form-select rounded-4 text-dark-25 fw-bold"
                                formControlName="gender">
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="trans_gender">Trans-Gender</option>
                            <option value="n/a">Not Applicable</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="dob">Date of Birth <span class="text-danger mx-2">*</span></label>
                        <input name="dob" id="dob" placeholder="DD-MM-YYYY"
                               class="form-control rounded-4 fw-bold" formControlName="dob"
                               type="text" mwlFlatpickr
                               [altInput]="true" [convertModelValue]="true" [maxDate]="maxDob"
                               [altFormat]="'d-m-Y'" [dateFormat]="'Y-m-d'"/>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="pincode">Pincode <span class="text-danger mx-2">*</span></label>
                        <input type="text" name="pincode" id="pincode" placeholder="Enter Pin Code"
                               class="form-control rounded-4 fw-bold text-uppercase" formControlName="pincode"
                               inputmode="numeric"
                               (keyup)="onGetPincodeDetail()" maxlength="6" appNumberOnly>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="state">State <span class="text-danger mx-2">*</span></label>
                        <input type="text" name="state" id="state" placeholder="Enter State Name"
                               class="form-control rounded-4 fw-bold text-uppercase" formControlName="state">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="district">District <span class="text-danger mx-2">*</span></label>
                        <input type="text" name="district" id="district" placeholder="Enter District Name"
                               class="form-control rounded-4 fw-bold text-uppercase" formControlName="district">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="city">City <span class="text-danger mx-2">*</span></label>
                        <input type="text" name="city" id="city" placeholder="Enter City"
                               class="form-control rounded-4 fw-bold text-uppercase" formControlName="city">

                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group mb-3">
                        <label for="address">Address <span class="text-danger mx-2">*</span></label>
                        <input type="text" name="address" id="address"
                               placeholder="Enter Customer Permanent Address"
                               class="form-control rounded-4 fw-bold text-uppercase" formControlName="address">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary rounded-4 mt-4">Submit
            </button>
        </form>
    </div>
</div>

