<app-breadcrumbs title="Transaction History" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-md-12">
        <div class="card rounded-4">
            <div class="card-header border-0">
                <div class="row g-3">
                        <div class="col-12 d-flex justify-content-start align-items-center gap-2">
                            <div class="search-box w-100">
                                <input type="text" name="searchTerm"
                                       class="form-control search bg-light border-light rounded-pill">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                            <button type="button" class="btn btn-success  btn-rounded me-2 mb-2">Export</button>
                        </div>
                </div>
            </div>
            <div class="card-body border border-dashed border-start-0 border-end-0">
                <div class="row g-3">
                    <div class="col-md-3">
                        <div class="input-light">
                            <select class="form-control rounded-pill bg-light border-light">
                                <option value="" selected>Transaction Type</option>
                                <option value="cr">Credit</option>
                                <option value="dr">Debit</option>
                                <option value="refund">Refund</option>
                                <option value="fail">Failed</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-light">
                            <select class="form-control rounded-pill bg-light border-light">
                                <option value="" selected>From</option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-light">
                            <select class="form-control rounded-pill bg-light border-light">
                                <option value="" selected>To</option>
                                <option value="gpr">GPR</option>
                                <option value="gift">Gift</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary w-100 btn-rounded">
                            <i class="ri-equalizer-fill me-1 align-bottom"></i> Filters
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap">
                        <thead>
                        <tr>
                            <th class="text-uppercase">SR</th>
                            <th class="text-uppercase">ID</th>
                            <th class="text-uppercase">Bin No</th>
                            <th class="text-uppercase">Card No</th>
                            <th class="text-uppercase">Type</th>
                            <th class="text-uppercase">Amount</th>
                            <th class="text-uppercase">Old Bal</th>
                            <th class="text-uppercase">New Bal</th>
                            <th class="text-uppercase">Remarks</th>
                            <th class="text-uppercase">Created On</th>
                            <th class="text-uppercase">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="cursor-pointer card-animate" >
                            
                            <!-- <td>{{i+1}}</td>
                            <td>
                                <span class="badge text-bg-light">{{transaction.transaction_id}}</span>
                            </td>
                            <td>
                                <span class="badge text-bg-light">{{transaction.bin_no}}</span>
                            </td>
                            <td>
                                <span class="badge text-bg-light">XXXX-{{transaction.ending4Digits | slice:12:16}}</span>
                            </td>
                            <td>
                                <span *ngIf="transaction.transaction_type=='DEDUCT'" class="btn btn-danger btn-sm btn-rounded">DEBIT</span>
                                <span *ngIf="transaction.transaction_type=='ADD'" class="btn btn-success btn-sm btn-rounded">CREDIT</span>
                                <span *ngIf="transaction.transaction_type=='REFUND'" class="btn btn-info btn-sm btn-rounded">CREDIT</span>
                            </td>
                            <td>
                                {{transaction.amount}}
                            </td>
                            <td>
                                {{transaction.old_balance}}
                            </td>
                            <td>
                                {{transaction.new_balance}}
                            </td>
                            <td>
                                {{transaction.remark}}
                            </td>
                            <td>
                                {{transaction?.created_at | date: 'dd MMM yyyy hh:mm a'}}
                            </td>
                            <td>
                                <button class="btn btn-info btn-sm btn-rounded">Create Ticket</button>
                            </td> -->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-between align-items-md-center mt-3">
                    <div class="col col-sm-6">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            Showing 1 out of 10 entries
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="text-sm-right float-sm-end listjs-pagination">
                            <!-- <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="page_size" [maxSize]="2"
                                            (pageChange)="onPageChange($event)">
                            </ngb-pagination> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>