<app-breadcrumbs title="User Wise Wallet Transaction" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="card rounded-4 p-3">
    <div class="card-header border-0">
        <div class="row g-3">
            <div class="col-md-6">
                <h4 class="fw-medium">Users Wallet Transactions</h4>
            </div>
            <div class="col-md-6">
<!--                <div class="float-end">-->
<!--                    <a routerLink="/retailer/manage-customers/create"-->
<!--                       class="btn btn-rounded  mb-2"  style="background-color: #3FA5D3; color: white;">-->
<!--                        Add Customer</a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="search-box w-100">
                        <input class="form-control rounded-pill search bg-light border-light"
                               placeholder="Search Customer Details By Name, Address, DOB, PAN and more..."
                        >
                        <i class="ri-search-line search-icon"></i>
                    </div>
                    <select name="page" id="page" class="btn btn-primary btn-rounded me-2 mb-2 " [(ngModel)]="userData.role_id" (change)="onChange()">
                        <option value="" selected>Network Balance</option>
                        <option value="all">All</option>
                        <option value="2">Admin</option>
                        <option value="8">Customer</option>
                        <option value="7">Retailer</option>
                        <option value="5">Distributor</option>
                        <option value="4">Super Distributor</option>

                    </select>
                    <button type="button" class="btn btn-primary  btn-rounded me-2 mb-2">Search</button>
                    <button type="button" class="btn btn-primary  btn-rounded me-2 mb-2">Filters</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center gap-2">
                    <div class="d-flex align-items-center justify-content-center">
                        <label for="page" class="me-2">Show</label>
                        <select name="page" id="page" class="form-select rounded-4 bg-light px-4 py-1" [(ngModel)]="userData.page_size" (change)="onChange()">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <label for="page" class="ms-2">entries</label>
                    </div>
                    <button type="button" class="btn btn-success  btn-rounded me-2 mb-2" >
                        Export
                    </button>
                </div>
            </div>
        </div>
        <ngx-simplebar class="table-responsive mt-3">
            <table class="table table-sm table-striped table-hover align-middle table-nowrap">
                <thead>
                <tr>
                    <th class="text-uppercase">#</th>
                    <th (click)="sort('name')" class="text-uppercase cursor-pointer">
                        Full Name <i class='bx bxs-sort-alt fs-12'></i>
                    </th>
                    <th (click)="sort('email')" class="text-uppercase">Email <i class='bx bxs-sort-alt fs-12'></i></th>
                    <th (click)="sort('mobile')" class="text-uppercase">Mobile <i class='bx bxs-sort-alt fs-12'></i></th>
                    <th class="text-uppercase"> Total Bal.</th>
                    <th (click)="sort('active')" class="text-uppercase">Status <i class='bx bxs-sort-alt fs-12'></i></th>
                    <th (click)="sort('created_at')" class="text-uppercase">Created on <i class='bx bxs-sort-alt fs-12'></i></th>

                </tr>
                </thead>
                <tbody style="min-height: 300px;">
                <tr *ngFor="let user of users; index as i;">
                    <td class="text-uppercase">{{ i + (page - 1) * userData.page_size + 1}}</td>
                    <td>
                        <a routerLink="/wallet-transaction/admin-wallet-topup"
                           [queryParams]="{ id: user.id }"
                           class="d-flex flex-column justify-content-center align-items-start">
                            <span class="fs-16 mb-1">{{user?.name | uppercase}}</span>
                            <span class="text-muted mb-0">&#64; {{user?.username | uppercase}}</span>
                        </a>
                    </td>
                    <td>{{user?.email | uppercase}}</td>
                    <td>{{ user?.mobile }}</td>
                    <td>{{user?.total_balance}}</td>
                    <td>
                        <span *ngIf="user.status" class="badge bg-success rounded-pill">Active</span>
                        <span *ngIf="!user.status" class="badge bg-warning rounded-pill">Inactive</span>
                    </td>
                    <td>{{ user?.created_at|dateago }}</td>
                </tr>
                <tr class="bg-soft-light" *ngIf="getMax() !== 0 && userData.role_id !='2'" >
                    <td></td>
                    <td class="fs-16 mb-1">Total Network Balance:</td>
                    <td>{{total_network_balance}}</td>
                    <td class="fs-16 mb-1">Page Total Balance:</td>
                    <td>{{total_balance}}</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </ngx-simplebar>
        <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col col-sm-4">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                    Showing {{ (page - 1) * userData.page_size + 1 }} to {{ getMax() }} of {{ total }} entries
                </div>
            </div>

            <div class="col col-sm-4">
                <div class="text-sm-right float-sm-end listjs-pagination">
                    <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="userData.page_size" [maxSize]="2" (pageChange)="onPageChange($event)">
                    </ngb-pagination>
                </div>
            </div>

        </div>
    </div>
</div>

