<app-breadcrumbs title="Gift Cards" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="card rounded-4 p-3">
    <div class="card-header">
        <div class="row align-items-center g-3">
            <div class="col-md-3">
                <p class="fs-16 fw-medium">Gift Cards</p>
            </div>
            <div class="col-md-auto ms-auto">
                <div class="d-flex gap-2">
                    <div class="search-box">
                        <input type="text" class="form-control rounded-pill" placeholder="Search..." #search>
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <div class="search-box w-100">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center gap-2">
                    <div class="d-flex align-items-center justify-content-center">
                        <label for="page" class="me-2">Show</label>
                        <select name="page" id="page" class="form-select rounded-4 bg-light px-4 py-1" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <label for="page" class="ms-2">entries</label>
                    </div>
                    <button type="button" class="btn btn-success  btn-rounded me-2 mb-2" (click)="export_to_excel()">Export
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table class="table table-sm table-striped table-hover align-middle table-nowrap">
                <thead>
                    <tr>
                        <th>SR</th>
                        <th>Card Number</th>
                        <th>Kit Number</th>
                        <th>Balance</th>
                        <th>Activated On</th>
                        <th>Expiry Date</th>
                        <th>Last Used On</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of txn_list; index as i">
                        <td class="text-uppercase">{{ i + 1}}</td>
                        <td>
                            {{item?.CardNo }}
                        </td>
                        <td>{{item?.KitNumber}}</td>
                        <td>{{item?.CardCurrentBalance}}</td>
                        <td>{{item?.ActivatedOn  | date:'EEEE, MMMM d, y'}}</td>
                        <td>{{item?.ExpiryDate  | date:'EEEE, MMMM d, y'}}</td>
                        <td>{{item?.LastUsedOn | date:'EEEE, MMMM d, y'}}</td>
                        <td>
                            View Details
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col col-sm-6">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                    Showing {{ (page - 1) * pageSize + 1 }} to {{ getMax() }} of {{ total }} entries
                </div>
            </div>

            <div class="col col-sm-6">
                <div class="text-sm-right float-sm-end listjs-pagination">
                    <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" [maxSize]="2" (pageChange)="onPageChange($event)">
                    </ngb-pagination>
                </div>
            </div>

        </div>
    </div>
</div>

                