<footer class="border-top bg-light card-bg-fill ">
    <div class="container-fluid">
        <div class="row pt-3 pb-2">
            <div class="col-md-4">
                <div class="text-center text-md-start">
                    <p class="text-black">Copyright © {{year}} <a href="https://rucards.in/" target="_blank"
                                                                  title="Rucards Official Website"
                                                                  class="fw-medium">RuCards</a>
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-md-end">
                    <p class="text-black"><a href="https://rucards.in/privacy-policy.php" target="_blank">Privacy
                        Policy</a> | <a href="https://rucards.in/terms-and-conditions.php"
                                        target="_blank">Term's
                        & Conditions</a> | <a href="https://rucards.in/disclaimer.php"
                                              target="_blank">Disclaimer</a> |  <a href="https://rucards.in/refund-and-cancellations.php"
                                              target="_blank">Refunds & Cancellations
                    </a></p>
                </div>
            </div>
        </div>
    </div>
</footer>